# Lab 1: Basic Python Programming

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [12]:
# Write your code here
# name -> string
name = "John Doe"

# age -> int
age = 29

# position -> string
position = "system engineer"

# salary -> int
salary = 41500

What is the type of each variables?

In [4]:
# Write your code here
# name -> string
# age -> int
# position -> string
# salary -> int
print("Type of Name ", type(name))
print("Type of Age ", type(age))
print("Type of position ", type(position))
print("Type of Salary ", type(salary))

Type of Name  <class 'str'>
Type of Age  <class 'int'>
Type of position  <class 'str'>
Type of Salary  <class 'int'>

The manager decides to give John a 7% raise. Update his salary.

In [8]:
# Write your code here
temp = (salary * 7) / 100
salary = salary + temp
print("Increase 7 salary", salary)

Increase 7 salary 44412.49

Prints his information again with his new salary.

In [9]:
# Write your code here
print("Name ", name)
print("Age ", age)
print("position ", position)
print("Salary ", salary)

Name  John Doe
Age  29
position  system engineer
Salary  44412.49

Now, he decides to resign. Delete his information from the system.

In [13]:
# Write your code here
del name
del age
del position
del salary

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [14]:
C = 34.5
F = ((C * 9) / 5) + 32
print("Fahrenheit ", F)

Fahrenheit  94.1

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [16]:
F = 94.1
C = ((F - 32) / 9) * 5
print("Celcius ", C)

Celcius  34.5

**Kelvin**  
$K = C + 273.15$

In [188]:
K = C = 273.15
print("Kelvin ", K)

Kelvin  273.15

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [17]:
Ro = ((C * 21) / 40) + 7.5
print("Romer ", Ro)

Romer  25.6125

## 3. Multi-item variables
#### List

In [30]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [31]:
new_name = input('Enter your name: ')

Insert `new_name` into `names` list.

In [32]:
# Write your code here
names.append(new_name)
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Mix']

Select your name from the list

In [33]:
# Write your code here
for temp in names:
    if temp == new_name:
        print(new_name)

Mix

Merge `another_names` into `names`.

In [34]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [35]:
# Write your code here
names =  names + another_names
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Mix', 'Peter', 'Steve', 'Sam', 'Charlotte']

Change `Amelia`'s name to `Amy`

In [37]:
# Write your code here
index = names.index("Amelia")
names[index] = "Amy"
print(names)

['Thomas', 'Kate', 'Mike', 'Amy', 'James', 'Megan', 'Mix', 'Peter', 'Steve', 'Sam', 'Charlotte']

#### Dictionary

In [39]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [41]:
# Write your code here
capital_city["Thailand"] = "Bangkok"
print(capital_city)

{'England': 'London', 'Spain': 'Madrid', 'Japan': 'Tokyo', 'Australia': 'Sydney', 'Germany': 'Berlin', 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [42]:
# Write your code here
capital_city["Australia"] = "Canberra"
print(capital_city)

{'England': 'London', 'Spain': 'Madrid', 'Japan': 'Tokyo', 'Australia': 'Canberra', 'Germany': 'Berlin', 'Thailand': 'Bangkok'}

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [57]:
age = input("Enter your age:")
age = int(age)
print(age)

12

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [58]:
# Write your code here
categorize = ""
if age <= 2 and age >= 0:
    categorize = "Babies"
elif age <= 12 and age >= 3:
    categorize = "Children"
elif age <= 19 and age >= 13:
    categorize = "Teenager"
elif age <= 29 and age >= 20:
    categorize = "Young Adults"
elif age <= 45 and age >= 30:
    categorize = "Young Adults"
elif age <= 59 and age >= 46:
    categorize = "Young Adults"
elif age >= 60:
    categorize = "Elderly"
else:
    categorize = "Out of range"

print(categorize)

Children

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [66]:
# Write your code here
multiplier = int(input("type some number"))
for i in range(1, 13):
    temp = multiplier * i
    print(f"{multiplier} X {i} = {temp}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

**2.** Write a code that construct the following pattern.

input: 5  
output: 
*  
**  
***  
****  
*****

In [82]:
# Write your code here
for i in range(0, 5):
    for j in range(0, i+1):
        print("*", end="")
    print("")

*
**
***
****
*****

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [83]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [85]:
# Write your code here
for i in languages:
    if i == "Assembly":
        print(f"Not you, {i}")
    else:
        print(f"I love <{i}>")

I love <C/C++>
I love <Python>
I love <R>
I love <Java>
I love <SQLs>
Not you, Assembly
I love <Go>
I love <Rust>
I love <Kotlin>

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [88]:
# Write your code here
for i in range(1, 26):
    if i % 3 == 0:
        continue
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [91]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [92]:
# Write your code here
for i in range(lower_bound, upper_bound):
    if i % divisor == 0:
        result.append(i)
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**6.** Write a code that construct the following pattern.

In [ ]:
input: 5  
output:  
*#####
**####
***###
****##
*****#

input: 10  
output:  
*##########  
**#########  
***########  
****#######  
*****######  
******#####  
*******####  
********###  
*********##  
**********#

In [111]:
# Write your code here
input = 10
for i in range(1, input+2):
    
    for j in range(0, i):
        print("*", end="")

    for j in range(i, input+2):
        print("#", end="")
    print("")

*###########
**##########
***#########
****########
*****#######
******######
*******#####
********####
*********###
**********##
***********#

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [194]:
# Write your code here
def average(*args):
    sum = 0
    for i in args:
        sum += i
    return sum / len(args)

print(average(9, 10, 12, 13, 13, 13, 15, 15, 16, 16, 18, 22, 23, 24, 24, 25))

16.75

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [115]:
# Write your code here
arr1 = [1,2,3]
arr2 = [4,5,6]
def sumproduct(arr1, arr2):
    length = len(arr1)
    sum = 0
    for i in range(0, length):
        sum += arr1[i] * arr2[i]
    return sum
print(sumproduct(arr1, arr2))

32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [127]:
# Write your code here
def fibonacci(n1):
    a = 0
    b = 1
    print(a)
    print(b)
    for _ in range(0, n1):
        c = b + a
        a = b
        b = c
        print(c)
    # 0 1 1 2 3
    
fibonacci(9)

0
1
1
2
3
5
8
13
21
34
55

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  
**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
**Hint:** you can reverse the string using `[::-1]` slice.

In [129]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [132]:
# Write your code here
def is_palidrome(str1):
    if str1 == str1[::-1]:
        print("palidrome")
    else:
        print("not palidrome")

is_palidrome(str2)

palidrome

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  
**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [187]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"

def anagram(str1, str2):
    obj1 = {}
    obj2 = {}
    for i in str1:
        i = i.lower()
        if i != " ":
            obj1[i] = str1.count(i)

    for i in str2:
        i = i.lower()
        if i != " ":
            obj2[i] = str2.count(i)

    # print(obj1)
    # print(obj2)

    anagramOrnot = True
    for i in obj1:
        if obj1[i] == obj2[i]:
            continue
        else:
            anagramOrnot = False
            break
    if anagramOrnot == False:
        print("False")
    else:
        print("True")

anagram(str1.lower(), str2.lower())

True

---